
    <div class="container-main">

        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">PPC Control</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6" style="padding: 1%;">
                        <div class="card">
                            <div class="card-body" style="background-color: #f1f1f1;">
                                <div class="card-block">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <i class="icon-ei-clock pink font-large-2 float-xs-left"></i>
                                        </div>
                                        <div class="media-body pink text-xs-right">
                                            <h3>{{clock | async | date:'mediumTime'}}</h3>
                                            <span>{{clock | async | date:'mediumDate'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6" style="padding: 1%;">
                        <div class="card">
                            <div class="card-body" style="background-color: #f1f1f1;">
                                <div class="card-block">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <i class="icon-timeline cyan font-large-2 float-xs-left"></i>
                                        </div>
                                        <div class="media-body cyan text-xs-right">
                                            <h3>{{ppcTotalPlan}}</h3>
                                            <span>Total Plan</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6" style="padding: 1%;">
                        <div class="card">
                            <div class="card-body" style="background-color: #f1f1f1;">
                                <div class="card-block">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <i class="icon-stats-bars2 deep-orange font-large-2 float-xs-left"></i>
                                        </div>
                                        <div class="media-body deep-orange text-xs-right">
                                            <h3>{{ppcActualJigg}}</h3>
                                            <span>Actual Round Jigg</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6" style="padding: 1%;">
                        <div class="card">
                            <div class="card-body" style="background-color: #f1f1f1;">
                                <div class="card-block">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <i class="icon-trending_up teal font-large-2 float-xs-left"></i>
                                        </div>
                                        <div class="media-body teal text-xs-right">
                                            <h3>{{ppcTotalRndAgstJigg}}</h3>
                                            <span>Total Round agst. Prod.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>

        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Jigging Details </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6" style="padding: 1%;">
                        <div class="card bg-cyan">
                            <div class="card-body">
                                <div class="card-block">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <i class="icon-stats-bars22 white font-large-2 float-xs-left"></i>
                                        </div>
                                        <div class="media-body white text-xs-right">
                                            <h3>{{ActualRoundJigged}}</h3>
                                            <span>Actual Round Jigged</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6" style="padding: 1%;">
                        <div class="card bg-deep-orange">
                            <div class="card-body">
                                <div class="card-block">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <i class="icon-trending_up white font-large-2 float-xs-left"></i>
                                        </div>
                                        <div class="media-body white text-xs-right">
                                            <h3>{{TotalRoundsagnstPrdn}}</h3>
                                            <span>Total Rounds agnst Prdn</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6" style="padding: 1%;">
                        <div class="card bg-teal">
                            <div class="card-body">
                                <div class="card-block">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <i class="icon-stats-bars2 white font-large-2 float-xs-left"></i>
                                        </div>
                                        <div class="media-body white text-xs-right">
                                            <h3>{{TotalRoundsagnstPrdnwithjigg}}</h3>
                                            <span>Total Rounds agnst Prdn with jigg</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6" style="padding: 1%;">
                        <div class="card bg-pink">
                            <div class="card-body">
                                <div class="card-block">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <i class="icon-timeline white font-large-2 float-xs-left"></i>
                                        </div>
                                        <div class="media-body white text-xs-right">
                                            <h3>{{TotalRoundsagnstPrdnwithoutjigg}}</h3>
                                            <span>Total Rounds agnst Prdn without jigg</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-6 col-sm-12" style="padding: 1%">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Chrome Production</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row" style="padding: 1%;">
                            <div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-pink bg-darken-2 media-left media-middle">
                                                <i class="icon-stats-bars22 font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 bg-pink white media-body">
                                                <h5>Total Round</h5>
                                                <h5 class="text-bold-400">{{ChromeTotalRoundNo}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-teal bg-darken-2 media-left media-middle">
                                                <i class="icon-timeline font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 bg-teal white media-body">
                                                <h5>Pending Round</h5>
                                                <h5 class="text-bold-400">{{ChromePendingRoundNo}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                        </div>
                        <div class="row" style="padding: 1%;">
                            <div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-cyan bg-darken-2 media-left media-middle">
                                                <i class="icon-stats-bars2 font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 bg-cyan white media-body">
                                                <h5>Empty Round</h5>
                                                <h5 class="text-bold-400">{{ChromeEmptyRoundNo}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-deep-orange bg-darken-2 media-left media-middle">
                                                <i class="icon-trending_up font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 bg-deep-orange white media-body">
                                                <h5>Rejection Value</h5>
                                                <h5 class="text-bold-400">{{SatinIdata4}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>        -->
                        </div>
                    </div>
                </div>       
            </div>
            <div class="col-md-6 col-sm-12" style="padding: 1%">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Satin Production</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row" style="padding: 1%;">
                            <div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;">
                                <div class="card">
                                    <div class="card-body" style="background-color: #f1f1f1;">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-cyan media-left media-middle">
                                                <i class="icon-timeline font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 media-body">
                                                <h5>Total Round</h5>
                                                <h5 class="text-bold-400">{{SatinTotalRoundNo}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;" >
                                <div class="card">
                                    <div class="card-body" style="background-color: #f1f1f1;">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-deep-orange media-left media-middle">
                                                <i class="icon-trending_up font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 media-body">
                                                <h5>Pending Round</h5>
                                                <h5 class="text-bold-400">{{SatinPendingRoundNo}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                        </div>
                        <div class="row" style="padding: 1%;">
                            <div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;">
                                <div class="card">
                                    <div class="card-body" style="background-color: #f1f1f1;">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-teal media-left media-middle">
                                                <i class="icon-stats-bars2 font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 media-body">
                                                <h5>Empty Round</h5>
                                                <h5 class="text-bold-400">{{SatinEmptyRoundNo}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;" >
                                <div class="card">
                                    <div class="card-body" style="background-color: #f1f1f1;">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-pink media-left media-middle">
                                                <i class="icon-stats-bars22 font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 media-body">
                                                <h5>Rejection Value</h5>
                                                <h5 class="text-bold-400">{{ChromeIdata4}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>        -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12" style="padding: 1%">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Chrome Inspection</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row" style="padding: 1%;">
                            <div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;">
                                <div class="card">
                                    <div class="card-body" style="background-color: #f1f1f1;">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-cyan media-left media-middle">
                                                <i class="icon-timeline font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 media-body">
                                                <h5>Total Inspection</h5>
                                                <h5 class="text-bold-400">{{ChromeIdata1}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;" >
                                <div class="card">
                                    <div class="card-body" style="background-color: #f1f1f1;">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-deep-orange media-left media-middle">
                                                <i class="icon-trending_up font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 media-body">
                                                <h5>Ok Value</h5>
                                                <h5 class="text-bold-400">{{ChromeIdata2}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                        </div>
                        <div class="row" style="padding: 1%;">
                            <div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;">
                                <div class="card">
                                    <div class="card-body" style="background-color: #f1f1f1;">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-teal media-left media-middle">
                                                <i class="icon-stats-bars2 font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 media-body">
                                                <h5>Hold Value</h5>
                                                <h5 class="text-bold-400">{{ChromeIdata2}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;" >
                                <div class="card">
                                    <div class="card-body" style="background-color: #f1f1f1;">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-pink media-left media-middle">
                                                <i class="icon-stats-bars22 font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 media-body">
                                                <h5>Rejection Value</h5>
                                                <h5 class="text-bold-400">{{ChromeIdata4}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                        </div>
                        <!--<div class="row" style="padding: 1%;">
                            <div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;">
                                <div class="card">
                                    <div class="card-body" style="background-color: #fff;">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-cyan media-left media-middle">
                                                <i class="icon-camera7 font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 media-body">
                                                <h5>New Products</h5>
                                                <h5 class="text-bold-400">28</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;" >
                                <div class="card">
                                    <div class="card-body" style="background-color: #fff;">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-deep-orange media-left media-middle">
                                                <i class="icon-user1 font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 media-body">
                                                <h5>New Users</h5>
                                                <h5 class="text-bold-400">1,22,356</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                        </div>-->
                    </div>
                </div>       
            </div>
            <div class="col-md-6 col-sm-12" style="padding: 1%">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Satin Inspection</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <!--<div class="row" style="padding: 1%;">
                            <div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-cyan bg-darken-2 media-left media-middle">
                                                <i class="icon-camera7 font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 bg-cyan white media-body">
                                                <h5>New Products</h5>
                                                <h5 class="text-bold-400">28</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-deep-orange bg-darken-2 media-left media-middle">
                                                <i class="icon-user1 font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 bg-deep-orange white media-body">
                                                <h5>New Users</h5>
                                                <h5 class="text-bold-400">1,22,356</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                        </div>-->
                        <div class="row" style="padding: 1%;">
                            <div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-pink bg-darken-2 media-left media-middle">
                                                <i class="icon-stats-bars22 font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 bg-pink white media-body">
                                                <h5>Total Inspection</h5>
                                                <h5 class="text-bold-400">{{SatinIdata1}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-teal bg-darken-2 media-left media-middle">
                                                <i class="icon-timeline font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 bg-teal white media-body">
                                                <h5>Ok Value</h5>
                                                <h5 class="text-bold-400">{{SatinIdata2}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                        </div>
                        <div class="row" style="padding: 1%;">
                            <div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-cyan bg-darken-2 media-left media-middle">
                                                <i class="icon-stats-bars2 font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 bg-cyan white media-body">
                                                <h5>Hold Value</h5>
                                                <h5 class="text-bold-400">{{SatinIdata3}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-xs-12" style="padding: 1%;">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="p-2 text-xs-center bg-deep-orange bg-darken-2 media-left media-middle">
                                                <i class="icon-trending_up font-large-2 white"></i>
                                            </div>
                                            <div class="p-2 bg-deep-orange white media-body">
                                                <h5>Rejection Value</h5>
                                                <h5 class="text-bold-400">{{SatinIdata4}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

<div [ngBusy]="busy"></div>