<div class="content-wrapper">
    <div class="container-main">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Jigg Report
          <small></small>
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="box box-default color-palette-box">
        <div class="box-header with-border">
          <!--<h3 class="box-title"><i class="fa fa-search"></i>&nbsp;Search Criteria</h3>-->
        </div>
        <div class="box-body">
          <form method="post">
        <div class="row">
            <div class="col-sm-6 col-md-3" style="margin-bottom: 20px">
                <div class="input-group" >
                    <span class="input-group-addon">Select Item</span>
                      <select id="Alias_Name" class="form-control select2"  style="width: 100%;"  >
                            <option  *ngFor="let Item of allitems" [value]="Item.Code">{{Item.Alias_Name}}</option>
                        </select>
                        <span class="input-group-btn">
                              <button class="btn btn-default" type="button">
                                 <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true" (click)="selectedJiggcode()"></span>
                              </button>
                        </span>
                    </div>
            </div>

            <div class="col-sm-6 col-md-3" style="margin-bottom: 20px">
                <div class="input-group" >
                    <span class="input-group-addon">Select Jigg</span>
                      <select id="natureofcomp" class="form-control select2"  style="width: 100%;"   name="txtcomponentname">
                            <option  *ngFor="let Item of item" [value]="Item.Jig_Code">{{Item.Jig_Code}}</option>
                        </select>
                    </div>
            </div>

            <div class="col-sm-6 col-md-3" style="margin-bottom: 20px">
                <div class="input-group" >
                       <span class="input-group-addon">Jigg Purpose</span>
                         <select id="natureofcomp1" class="form-control select2"  style="width: 100%;" name="txtcomp">
                             <option selected="selected">--Select Purpose--</option>
                            <option value="D">Design Change</option>
                            <option value="N">New Jigg</option>
                            <option value="R">Repair</option>
                            <option value="S">Scrape</option>
                        </select>
                    </div>
            </div>
            <div class="col-sm-6 col-md-3" style="margin-bottom: 20px">
                <div class="input-group" >
                       <span class="input-group-addon">For New Jigg</span>
                         <input  type="text" class="form-control" [disabled]="flagdis"  name="txtroundqty" [(ngModel)]="txtroundqty" id="txtroundqty" placeholder="" required>
                    </div>
            </div>
            
        </div>
        <div class="row">
                <div class="col-sm-6 col-md-3" style="margin-bottom: 20px">
                    <div class="input-group" >
                        <span class="input-group-addon">Recieved Date</span>
                        <input type="text" name="dpdoj" [(ngModel)]="dpdoj" class="form-control pull-right" id="datepicker">                    
                    </div>
                </div>
                <div class="col-sm-6 col-md-3" style="margin-bottom: 20px">
                    <div class="input-group" >
                        <span class="input-group-addon">Rectified Date</span>
                        <input type="text" name="dpdoj1" [(ngModel)]="dpdoj1" [disabled]="flagdisable" class="form-control pull-right" id="datepicker1" >                    
                    </div>
                </div>
                <div class="col-sm-6 col-md-3" style="margin-bottom: 20px">
                    <div class="input-group" >
                        <span class="input-group-addon">Jigg No</span>
                        <input  type="text" class="form-control" name="txtjigg" [disabled]="flagdisable" [(ngModel)]="txtjigg" id="txtjigg" placeholder="" required > 
                    </div>
                </div>
        </div>
      <div class="row">
        <div class="col-xs-12">
          <div>
            
            <div style="width:100%; height:100%; overflow: auto;" >
            <!-- /.box-header -->
                <div>
                    <div class="row">
                      <table class="table table-responsive table-bordered">
                        <th> &nbsp;&nbsp;&nbsp;&nbsp;Handling Defects</th>
                        <th>Recd Defects</th>
                        <th>Rect Defects</th>
                        <th>Technical Defects</th>
                        <th>Recd Defects</th>
                        <th>Rect Defects</th>
                        <tr>
                            <td>&nbsp;&nbsp;Coating Punture Base</td>
                            <td align="center"><input type="checkbox" value="" [checked]="CoatingPuntureBase" id="coatingpunturebase"></td>
                            <td align="center"><input type="checkbox" value="" id="CoatingPuntureBase"></td>
                            <td>Coating Skip</td>
                            <td align="center"><input type="checkbox" value=""[checked]="CPSKIP" id="coatingskip"></td>
                            <td align="center"><input type="checkbox" value="" id="CPSKIP"></td>
                        </tr>
                        <tr>
                            <td>&nbsp; Setting Change </td>
                            <td align="center"><input type="checkbox" value="" [checked]="SETTING" id="setting"> </td>
                            <td align="center"><input type="checkbox" value="" id="SETTING" >  </td>
                            <td> Pin Hole </td>
                            <td align="center"><input type="checkbox" value="" [checked]="PinHole" id="pinhole">  </td>
                            <td align="center"> <input type="checkbox" value="" id="PinHole"> </td>
                        </tr>
                         <tr>
                            <td>&nbsp; Jigg Band </td>
                            <td align="center"><input type="checkbox" value="" [checked]="JiggBand" id="jiggband"></td>
                            <td align="center"><input type="checkbox" value="" id="JiggBand"></td>
                            <td> Contact Broken </td>
                            <td align="center"><input type="checkbox" value="" [checked]="ContactBroken" id="contactbroken"> </td>
                            <td align="center"> <input type="checkbox" value="" id="ContactBroken"></td>
                        </tr>
                        <tr>
                            <td>&nbsp; Jigg Broken </td>
                            <td align="center"> <input type="checkbox" value="" [checked]="JiggBroken" id="jiggbroken">  </td>
                            <td align="center"> <input type="checkbox" value="" id="JiggBroken"> </td>
                            <td> Contact abression </td>
                            <td align="center"><input type="checkbox" value="" [checked]="Contactabression" id="contactabression"> </td>
                            <td align="center"> <input type="checkbox" value="" id="Contactabression"> </td>
                        </tr>
                        <tr>
                            <td> &nbsp; </td>
                            <td align="center"> &nbsp; </td>
                            <td align="center">  &nbsp; </td>
                            <td> Coating on Punture on Jigg  </td>
                            <td align="center"><input type="checkbox" value="" [checked]="CoatingonPuntureonJigg" id="coatingonpuntureonjigg"> </td>
                            <td align="center">  <input type="checkbox" value="" id="CoatingonPuntureonJigg"></td>
                        </tr>
                         <tr>
                            <td> &nbsp; </td>
                            <td align="center"> &nbsp; </td>
                            <td align="center">  &nbsp; </td>
                            <td> Contact Burn </td>
                            <td align="center"> <input type="checkbox" value="" [checked]="ContactBurn" id="contactburn"> </td>
                            <td align="center"><input type="checkbox" value="" id="ContactBurn"></td>
                        </tr>
                         <tr>
                            <td> &nbsp; </td>
                            <td align="center"> &nbsp; </td>
                            <td align="center">  &nbsp; </td>
                            <td> Coating Burn </td>
                            <td align="center"> <input type="checkbox" value="" [checked]="CoatingBurn" id="coatingburn"> </td>
                            <td align="center"> <input type="checkbox" value="" id="CoatingBurn"> </td>
                        </tr>
                         <tr>
                        <td> &nbsp; </td>
                            <td align="center"> &nbsp; </td>
                            <td align="center">  &nbsp; </td>
                            <td> ECN </td>
                            <td align="center"> <input type="checkbox" value="" [checked]="ECN" id="ecn">  </td>
                            <td align="center"> <input type="checkbox" value="" id="ECN"> </td>
                        </tr>
                         <tr>
                            <td> &nbsp; </td>
                            <td align="center"> &nbsp; </td>
                            <td align="center">  &nbsp; </td>
                            <td> Others  </td>
                            <td align="center"> <input type="checkbox" value="" [checked]="Others" id="others"> </td>
                            <td align="center"> <input type="checkbox" value="" id="Others"> </td>
                        </tr>
                         <tr>
                            <td>&nbsp; Total Handling Defects </td>
                            <td align="center"><label class="center" >{{display_totalhandlingdefects}}</label> </td>
                            <td align="center"><label class="center" >{{display_totalhandlingdefectsrect}}</label> </td>
                            <td> Total Technical Defects  </td>
                            <td align="center"><label class="center" >{{display_Totaltechnicaldefects}}</label></td>
                            <td align="center"><label class="center" >{{display_Totaltechnicaldefectsrect}}</label></td>
                        </tr>
                      </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
        <!-- footer -->
         <div class="modal-footer" [ngClass]="display_message_class" >
             <label class="pull-left" >{{display_message}}</label>
            <button type="button" class="btn btn-primary" (click)="FunctionOnCaption()">{{caption}}</button>
            <button type="button" class="btn btn-default" (click)="clearValues()">Close</button>
         </div>
         <!-- End of  footer -->
        </form>
    </div>
        <!-- /.box-body -->
      </div>
        <!-- /.box -->
                <div class="row">
        <div class="col-xs-12">
          <div class="box">
                <div class="col-md-8 col-sm-12">
                    <h4 class="box-title"><i class="fa fa-table"></i>&nbsp;Result Data</h4>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-12" style="margin: 0.7%;">
                   <input class="form-control form-control-sm mb-2 mr-sm-2 mb-lg-0" #search (keyup)="SearchTextBox()" placeholder="Search" [(ngModel)]="searchText">
                </div>
            <div style="width:100%; height:100%; overflow: auto;" >
            <!-- /.box-header -->
            <div class="box-body">
            <div class="row">
              <table id="getjiggTable" class="table table-bordered table-striped table-responsive">
                <thead>
                    <th id="First">&nbsp;&nbsp;Edit</th>
                    <th *ngFor="let t_header of Headers1">{{t_header}}</th>
                    <th *ngFor="let t_header of Headers2">{{t_header}}</th>
                    <th *ngFor="let t_header of Headers3">{{t_header}}</th>
                </thead>
                <tbody>
                <tr *ngFor="let item of ResponseData | paginate: { itemsPerPage: 10, currentPage: p } let i=index">
                     <td><a  (click)="selectedItem(item, i)" ><span  class="btn glyphicon glyphicon-pencil"  data-target=".box-body" id="disablebutton"></span></a></td>
                     <td *ngFor="let column of Headers1">{{item[column]}}</td>
                     <td *ngFor="let column of Headers2 let j=index">
                         <input type="checkbox" [checked]="item[column]" [id]="'row' + i + j" />
                     </td>
                     <td>{{item['Total Handling Defect']}}</td>
                     <td>{{item['Total Tech Defect']}}</td>
                     <td>{{item['Received Date'] | jsondate | date : 'dd/MM/yyyy'}}</td>
                     <td>{{item['Component Id']}}</td>
                </tr>
                </tbody>
              </table>
            </div>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
      </section>
      <!-- /.content -->

    </div>
    <!-- /.container -->
  </div>

    <div [ngBusy]="busy"></div>