    <div class="container-main">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          PPC
          <small>Schedule Edit</small>
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-search"></i>&nbsp;Search Criteria</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                        <div class="input-group">
                            <select id="Month" class="form-control select2">
                                <option selected="selected" value="NULL">--Select Month--</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true" (click)="SearchMonthly()"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-md-offset-1">
                    <div class="form-group">
                    <div class="input-group date">
                        <span class="input-group-addon">From Date</span>
                        <input type="text" class="form-control pull-right" id="FromDate" name="FromDate" [(ngModel)]="FromDate">
                    </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-md-offset-1">
                    <div class="form-group">
                    <div class="input-group date">
                        <span class="input-group-addon">To Date</span>
                        <input type="text" class="form-control pull-right" id="ToDate" name="ToDate" [(ngModel)]="ToDate">
                    </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 0.5%;">
                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                    <div class="input-group">
                            <span class="input-group-addon">Item Type</span>
                            <select id="ItemType" class="form-control select2" style="width: 100%;">
                                <option selected="selected" value="NULL">--Select--</option>
                                <option value="Chrome">Chrome</option>
                                <option value="Satin">Satin</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-md-offset-1">
                    <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Nature of Component</span>
                        <select class="form-control select2" style="width: 100%;">
                            <option id="NatureOfComp" selected="selected" value="NULL">--Select--</option>
                            <option value="Big">Big</option>
                            <option value="Medium">Medium</option>
                            <option value="Small">Small</option>
                        </select>
                    </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-md-offset-1">
                    <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="Search()">
                        <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span> Search
                    </button>
                </div>
            </div>
            <div class="row" style="margin-top: 0.5%;">
                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Alias Name</span>
                        <select id="Alias_Names"  class="form-control select2" multiple="multiple" data-placeholder="Select" style="width: 100%;">
                            <option *ngFor="let Alias of Alias_Names" [value]="Alias.Code">{{Alias.Alias_Name}}</option>
                        </select>
                    </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-md-offset-1">
                    <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Customer Name</span>
                        <select id="Customer_Names" class="form-control select2" multiple="multiple" data-placeholder="Select" style="width: 100%;">
                            <option *ngFor="let Customer of Customer_Names" [value]="Customer.Code">{{Customer.Name}}</option>
                        </select>
                    </div>
                    </div>
                </div>

            </div>

            <div class="row" style="margin-top: 0.5%;">
                <div class="col-md-6">
                <div class="callout callout-default">
                    <table>
                        <tr>
                            <td><b>Select To Upload</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><input type="file" id="exampleInputFile"></td>
                            <td><button type="button" class="btn btn-primary" aria-label="Left Align">
                                    <span class="glyphicon glyphicon glyphicon-upload" aria-hidden="true"></span> Upload
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                </div>
            </div>        
        </div>
        <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-table"></i>&nbsp;Result Data</h3>
        </div>
        <div class="box-body">
            <div class="row" style="margin: 0.5%;">
                <div class="col-md-6 col-sm-12">
                <input class="form-control form-control-sm mb-2 mr-sm-2 mb-lg-0" #search (keyup)="SearchTextBox()" placeholder="Search" [(ngModel)]="searchText"> {{searchText}}
                </div>
            </div>
            <div class="row" style="margin: 0.5%;">
                <table class="table table-responsive table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Customer</th>
                            <th>Component Alias</th>
                            <th>RoundReq</th>
                            <th>Pro.Round No</th>
                            <th>ScheduleQty</th>
                            <th>OKQty</th>
                            <th>Rejected Qty (%)</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let response of ResponseData | paginate: { itemsPerPage: 10, currentPage: p }">
                            <td>{{response.Name}}</td>
                            <td>{{response.Alias_Name}}</td>
                            <td>{{response.RoundReq}}</td>
                            <td>{{response.RoundNo}}</td>
                            <td>{{response.ScheduleQty}}</td>
                            <td>{{response.OkQty}}</td>
                            <td>{{response.RejectedQty}}</td>
                            <td><a (click)="selectedCustomer(response)"><span class="btn glyphicon glyphicon-pencil" data-toggle="modal" data-target=".bs-example-modal-sm-edit"></span></a></td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls class="text-right" (pageChange)="p = $event"></pagination-controls>
                <!--<gt-column-settings [genericTable]="myTable" #columnSettings>
                    <div class="table table-responsive table-striped">
                        <generic-table #myTable [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [gtData]="configObject.data" [gtOptions]="{highlightSearch:true, rowSelection:true}"></generic-table>
                    </div>
                    <div class="text-right">
                        <gt-pagination [gtClasses]="'justify-content-center'" [genericTable]="myTable" ></gt-pagination>
                    </div>
                </gt-column-settings>-->
            </div>
        </div>
        </div>
      </section>
      <!-- /.content -->
    </div>


<div class="modal fade bs-example-modal-sm-edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseUpdate()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="ion ion-edit"></i>&nbsp;&nbsp; Update</h4>
      </div>
      <div class="modal-body">
        <form method="post">
          <div class="row">
            <div class="col-md-5 col-sm-12">
              <div class="form-group">
                <label for="lblfullname">Round Req</label>
                <input type="text" name="txtroundreq" [(ngModel)]="txtroundreq" class="form-control" id="txtfullname" placeholder="00" required>
              </div>
            </div>
            <div class="col-md-5 col-sm-12 col-md-offset-1">
              <div class="form-group">
                <label for="lblfullname">Schedule Qty</label>
                <input type="text" name="txtscheduleqty" [(ngModel)]="txtscheduleqty" class="form-control" id="txtfullname" placeholder="00" required>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer" [ngClass]="display_message_class">
        <label class="pull-left" >{{display_message}}</label>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onCloseUpdate()">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateCustomer()">Update</button>
      </div>
    </div>
  </div>
</div>



<div [ngBusy]="busy"></div>