
        .chart-legend ul {
            list-style: none;
            float: right;
            border: 1px #f4f4f4 groove;
            margin-top: 10px;
            padding: 6px;
        }

        .chart-legend li span {
            display: inline-block;
            width: 126px;
            height: 12px;
            margin-right: 8px;
        }