<div class="content-wrapper">
    <div class="container-main">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Chrome Rejction Review
          <!--<small>in Insp.</small>-->
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="box box-default color-palette-box">
            <div class="box-body">
                <form method="post">
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Date</span>
                                    <!--<i class="fa fa-calendar"></i>-->
                                </div>
                                <input type="text" name="Date" class="form-control pull-right" id="Date" [(ngModel)]="date">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group" >
                                <!--<label for="lblnatureofpltng">Line Type</label>-->
                                <div class="input-group-addon">
                                    <span class="input-group">Line Type</span>
                                </div>
                                <select id="LineType"  class="form-control select2"  style="width: 100%;" name="LineType">
                                    <!--<option selected="selected" value="NULL">Select</option>-->
                                    <option value="Chrome" selected="selected">Chrome</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-3">
                            <button  style="margin-left: 140px;" type="button" class="btn btn-primary" (click)="Search()">Search</button>
                        </div>
                        <div class="col-sm-10 col-md-3" style="margin-bottom: 20px">
                            <div class="input-group" >
                                <span class="input-group-addon">Part Name</span>                                
                                <select id="Alias_Names"  class="form-control select2" data-placeholder="Select" style="width: 100%;">
                                    <option *ngFor="let Alias of ResponseData" [value]="Alias['Item Code']">{{Alias['Alias Name']}}</option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true" (click)="bindalldata()"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="form-group">
                                <label for="lblhldqty" class="col-sm-5 control-label">Hold Qty</label>
                                <div class="col-md-3" >
                                    <label class="col-sm-4" style="color: green;">{{HoldQty}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="form-group">
                                <label for="lblbfrqty" class="col-sm-5 control-label">Buffer Qty</label>
                                <div class="col-md-3" >
                                    <label class="col-sm-4" style="color: green;">{{BufferQty}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="form-group">
                                <label for="lblrejqty" class="col-sm-5 control-label">Rejected Qty</label>
                                <div class="col-md-3" >
                                    <label class="col-sm-4" style="color: red;">{{RejQty}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3" style="margin-bottom: 20px">
                            <div class="input-group" >
                                <!--<label for="lblnatureofcomp">Type</label>-->
                                <span class="input-group-addon">Type</span>
                                <select id="RejType" class="form-control select2"  style="width: 100%;" name="RejType">
                                    <option selected="selected" value="0">--Select--</option>
                                    <option value="1">Hold</option>
                                    <option value="2">Rejction Review</option>
                                    <option value="3">Buffing</option>
                                    <option value="4">Customer Return Review</option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true" (click)="bindrejectionData()"></span>
                                    </button>
                                </span>
                            </div>
                            <label class="pull-left" >{{display_message}}</label>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <div class="box box-default color-palette-box">
            <div class="box-body">
                <form method="post">
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Hold Qty</span>
                                </div>
                                <input type="text" name="hldqty" class="form-control pull-right" id="hldqty" style="color: green;" [(ngModel)]="Hldqty">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Buffer Qty</span>
                                </div>
                                <input type="text" name="bfrqty" class="form-control pull-right" id="bfrqty" style="color: green;" [(ngModel)]="Bfrqty">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Rejected Qty</span>
                                </div>
                                <input type="text" name="rejqty" class="form-control pull-right" id="rejqty" style="color: red;" [(ngModel)]="Rejectedqty">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">OK Qty</span>
                                </div>
                                <input type="text" name="okqty" class="form-control pull-right" id="okqty" [(ngModel)]="Okqty">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-6"style="margin-bottom: 20px">
                            <label for="lblhldqty" class="col-sm-12 control-label text-center">Plating Deffects</label>
                        </div>
                        <div class="col-sm-10 col-md-6"style="margin-bottom: 20px">
                            <label for="lblhldqty" class="col-sm-12 control-label text-center">Moulding Deffects</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Pitting</span>
                                </div>
                                <input type="text" name="pitting" class="form-control pull-right" id="pitting" [(ngModel)]="Pitting" (keyup)="Total()">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Pin Hole</span>
                                </div>
                                <input type="text" name="pinhole" class="form-control pull-right" id="pinhole" [(ngModel)]="PinHole" (keyup)="Total()">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Dent</span>
                                </div>
                                <input type="text" name="dent" class="form-control pull-right" id="dent" [(ngModel)]="Dent" (keyup)="Total()">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Hand. Moulding Rejection</span>
                                </div>
                                <input type="text" name="hndmngrej" class="form-control pull-right" id="hndmngrej" [(ngModel)]="HandMouRej" (keyup)="Total()">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Nickle Show'g</span>
                                </div>
                                <input type="text" name="ncklshwg" class="form-control pull-right" id="ncklshwg" [(ngModel)]="NicklShow" (keyup)="Total()">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Patch Marks</span>
                                </div>
                                <input type="text" name="ptchmrks" class="form-control pull-right" id="ptchmrks" [(ngModel)]="PatchMarks" (keyup)="Total()">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Scratch Marks</span>
                                </div>
                                <input type="text" name="scrtchmrks" class="form-control pull-right" id="scrtchmrks" [(ngModel)]="ScratchMarks" (keyup)="Total()">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Roughness</span>
                                </div>
                                <input type="text" name="rghns" class="form-control pull-right" id="rghns" [(ngModel)]="Roughness" (keyup)="Total()">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">CR. Burn</span>
                                </div>
                                <input type="text" name="crburn" class="form-control pull-right" id="crburn" [(ngModel)]="CrBurn" (keyup)="Total()">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Other</span>
                                </div>
                                <input type="text" name="othr" class="form-control pull-right" id="othr" [(ngModel)]="Other" (keyup)="Total()">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Silver Marks</span>
                                </div>
                                <input type="text" name="slvrmrks" class="form-control pull-right" id="slvrmrks" [(ngModel)]="SilverMarks" (keyup)="Total()">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Moulding Rej.</span>
                                </div>
                                <input type="text" name="mldngrej" class="form-control pull-right" id="mldngrej" [(ngModel)]="MouldngRej" (keyup)="Total()">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Skip Plating</span>
                                </div>
                                <input type="text" name="skpltng" class="form-control pull-right" id="skpltng" [(ngModel)]="SkipPlating" (keyup)="Total()">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Copper Burning</span>
                                </div>
                                <input type="text" name="cprbrng" class="form-control pull-right" id="cprbrng" [(ngModel)]="CoprBrng" (keyup)="Total()">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">War Page</span>
                                </div>
                                <input type="text" name="warpg" class="form-control pull-right" id="warpg" [(ngModel)]="WarPage" (keyup)="Total()">
                            </div>
                        </div>
                        <!--<div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">War Page</span>
                                </div>
                                <input type="text" name="warpg" class="form-control pull-right" id="warpg" [(ngModel)]="warpg">
                            </div>
                        </div>-->
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">White Mark</span>
                                </div>
                                <input type="text" name="whtmrk" class="form-control pull-right" id="whtmrk" [(ngModel)]="WhtMark" (keyup)="Total()">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Dot Plastic</span>
                                </div>
                                <input type="text" name="dotplstc" class="form-control pull-right" id="dotplstc" [(ngModel)]="DotPlastc" (keyup)="Total()">
                            </div>
                        </div>
                        <!--<div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">War Page</span>
                                </div>
                                <input type="text" name="warpg" class="form-control pull-right" id="warpg" [(ngModel)]="warpg">
                            </div>
                        </div>-->
                        <!--<div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">War Page</span>
                                </div>
                                <input type="text" name="warpg" class="form-control pull-right" id="warpg" [(ngModel)]="warpg">
                            </div>
                        </div>-->
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Water Mark</span>
                                </div>
                                <input type="text" name="wtrmrk" class="form-control pull-right" id="wtrmrk" [(ngModel)]="WaterMark" (keyup)="Total()">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Blister</span>
                                </div>
                                <input type="text" name="blstr" class="form-control pull-right" id="blstr" [(ngModel)]="Blister" (keyup)="Total()">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <!--<div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">War Page</span>
                                </div>
                                <input type="text" name="warpg" class="form-control pull-right" id="warpg" [(ngModel)]="warpg">
                            </div>-->
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px" [ngClass]="display_message_class">
                            <button  style="margin-left: 140px;" type="button" class="btn btn-primary pull-right" (click)="FunctionOnCaption()">{{flag}}</button>
                            <label class="pull-left" >{{display_message}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Jig Damage</span>
                                </div>
                                <input type="text" name="jigdmg" class="form-control pull-right" id="jigdmg" [(ngModel)]="JigDmg" (keyup)="Total()">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Remark</span>
                                </div>
                                <input type="text" name="rmrk" class="form-control pull-right" id="rmrk" [(ngModel)]="Remark" (keyup)="Total()">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.container -->
  </div>

  <div [ngBusy]="busy"></div>