<div class="content-wrapper">
    <div class="container-main">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Component
          <small>Master</small>
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="box box-default color-palette-box">
        <div class="box-header with-border">
          <!--<h3 class="box-title"><i class="fa fa-search"></i>&nbsp;Search Criteria</h3>-->
        </div>
        <div class="box-body">
          <form method="post">
          <div class="row">
            <div class="col-sm-12 col-md-4"style="margin-bottom: 20px">
                <label for="lblaliasname">Alias Name</label>
                <input  type="text" class="form-control"  name="txtaliasname" [(ngModel)]="txtaliasname" id="txtaliasname" placeholder="" required>
            </div>

            <div class="col-sm-12 col-md-4">
                <label for="lblcomponent">Component Name</label>
                <input type="text" class="form-control"  name="txtcomponentname" [(ngModel)]="txtcomponentname" id="txtcomponentname" placeholder="" required>
            </div>

            <div class="col-sm-12 col-md-4">
                <label for="lblrate">Rate</label>
                <input type="text" class="form-control"  name="txtrate" [(ngModel)]="txtrate" id="txtrate" placeholder="" required>
            </div>

          </div>

         <div class="row">
            <div class="col-sm-12 col-md-4" style="margin-bottom: 20px">
                <div class="input-group" >
                       <label for="lblcomponent">Nature of Component</label>
                         <select id="natureofcomp" class="form-control select2"  style="width: 100%;"   name="txtcomp">
                             <option selected="selected">--Select Nature of Component--</option>
                            <option value="Big">Big</option>
                            <option value="Medium">Medium</option>
                            <option value="Small">Small</option>
                        </select>
                    </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <label for="lblroundqty">Round Qty</label>
                <input  type="text" class="form-control"  name="txtroundqty" [(ngModel)]="txtroundqty" id="txtroundqty" placeholder="" required>
            </div>

            <div class="col-sm-12 col-md-4">
                <label for="lbluom">Uom</label>
                <input type="text" class="form-control"  name="txtuom" [(ngModel)]="txtuom" id="txtuom" placeholder="" required>
            </div>

         </div>

         <div class="row">
            <div class="col-sm-12 col-md-4"style="margin-bottom: 20px">
                <div class="input-group" >
                    <label for="lblplating">Nature of Plating</label>
                        <select id="natureofplating" class="form-control select2"  style="width: 100%;"   name="txtplating">
                             <option selected="selected">--Select Nature of Plating--</option>
                            <option value="Satin">Satin</option>
                            <option value="Chrome">Chrome</option>
                        </select>
                    </div>
            </div>
         </div>
         <div class="modal-footer" [ngClass]="display_message_class" >
             <label class="pull-left" >{{display_message}}</label>
            <button type="button" class="btn btn-primary" (click)="createItem()"  >Add Item</button>
            <button type="button" class="btn btn-default">Close</button>
         </div>

        </form>
        </div>
        <!-- /.box-body -->
      </div>
        <!-- /.box -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.container -->
  </div>