<div class="content-wrapper">
    <div class="container-main">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Component
          <small>Master</small>
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="box box-default color-palette-box">
        <div class="box-body">
          <form method="post">
          <div class="row">
            <div class="col-sm-12 col-md-4"style="margin-bottom: 20px">
                <label for="lblaliasname">Alias Name</label>
                <input  type="text" class="form-control"  name="txtaliasname" [(ngModel)]="txtaliasname" id="txtaliasname" placeholder="" required>
            </div>

            <div class="col-sm-12 col-md-4">
                <label for="lblcomponent">Component Name</label>
                <input type="text" class="form-control"  name="txtcomponentname" [(ngModel)]="txtcomponentname" id="txtcomponentname" placeholder="" required>
            </div>

            <div class="col-sm-12 col-md-4">
                <label for="lblrate">Rate</label>
                <input type="text" class="form-control"  name="txtrate" [(ngModel)]="txtrate" id="txtrate" placeholder="" required>
            </div>

          </div>

         <div class="row">
            <div class="col-sm-12 col-md-4" style="margin-bottom: 20px">
                <div class="input-group" >
                       <label for="lblcomponent">Nature of Component</label>
                         <select id="natureofcomp" class="form-control select2"  style="width: 100%;" name="txtcomp">
                             <option selected="selected">--Select Nature of Component--</option>
                            <option value="Big">Big</option>
                            <option value="Medium">Medium</option>
                            <option value="Small">Small</option>
                        </select>
                    </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <label for="lblroundqty">Round Qty</label>
                <input  type="text" class="form-control"  name="txtroundqty" [(ngModel)]="txtroundqty" id="txtroundqty" placeholder="" required>
            </div>

            <div class="col-sm-12 col-md-4">
                <label for="lbluom">Uom</label>
                <input type="text" class="form-control"  name="txtuom" [(ngModel)]="txtuom" id="txtuom" placeholder="" required>
            </div>

         </div>

         <div class="row">
            <div class="col-sm-12 col-md-4"style="margin-bottom: 20px">
                <div class="input-group" >
                    <label for="lblplating">Nature of Plating</label>
                        <select id="natureofplating"  class="form-control select2"  style="width: 100%;" name="txtplating">
                             <option selected="selected">--Select Nature of Plating--</option>
                            <option value="Satin">Satin</option>
                            <option value="Chrome">Chrome</option>
                        </select>
                    </div>
            </div>
         </div>
         <div class="modal-footer" [ngClass]="display_message_class" >
             <label class="pull-left" >{{display_message}}</label>
            <button type="button" class="btn btn-primary" (click)="FunctionOnCaption()"  >{{caption}}</button>
            <button type="button" class="btn btn-default" (click)="clearvalue()">Close</button>
         </div>

        </form>
        </div>
        <!-- /.box-body -->
      </div>
        <!-- /.box -->
        <!-- /Datatable-->
        <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="row">
              <div class="col-md-8 col-sm-12">
                      <h4 class="box-title"><i class="fa fa-table"></i>&nbsp;Result Data</h4>
              </div>
              <div class="col-md-3 col-md-offset-1 col-sm-12" style="margin: 0.7%;">
                   <input class="form-control form-control-sm mb-2 mr-sm-2 mb-lg-0" #search (keyup)="SearchTextBox()" placeholder="Search" [(ngModel)]="searchText"> {{searchText}}
                </div>
            </div>
            <div style="width:100%; height:100%; overflow: auto;" >
            <!-- /.box-header -->
            <div class="box-body">
            <div class="row">
              <table id="itemsTable" class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                  <th>Code</th>
                  <th>Alias Name</th>
                  <th>Component Name</th>
                  <th>Rate</th>
                  <th>Nature of Comp</th>
                  <th>Round Qty</th>
                  <th>Uom</th>
                  <th>Nature of Plating</th>
                  <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of allitems | paginate: { itemsPerPage: 10, currentPage: p }">
                  <td>{{item.Code}}</td>
                  <td>{{item.Alias_Name}}</td>
                  <td>{{item.Component_Name}}</td>
                  <td>{{item.Rate}}</td>
                  <td>{{item.Nature_of_Comp}}</td>
                  <td>{{item.Round_Qty}}</td>
                  <td>{{item.Uom}}</td>
                  <td>{{item.Nature_of_Plating}}</td>
                  <td><a (click)="selectedItem(item)"><span class="btn glyphicon glyphicon-pencil"  data-target=".box-body"></span></a></td>
                </tr>
                </tbody>
              </table>
            </div>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
        <!-- datatable end -->
        <!-- Edit model pop -up --> 
        <!-- end of model pop - up -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.container -->
  </div>

    <div [ngBusy]="busy"></div>