    <div class="container-main">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Jigg
          <small>Dashboard</small>
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">
          <div class="row">
              <div class="col-sm-12">
                <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-bar-chart-o"></i>&nbsp;Jigg Manufacturing per month</h3>
                    <div style="float: right; margin-right: 90px;">
                        <label Style="margin-right: 4px;font-weight: bold;">New : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #3c8dbc; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{TotalJiggNew | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;">Design : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #00a65a; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{TotalJiggDesign | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;">Repair : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #f39c12; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{TotalJiggRepair | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;">Scrap : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #f56954; margin-right: 5px; color: black;text-align: center;font-weight: bolder;">{{TotalJiggScrap | number : '1.2-2'}}</label>
                    </div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" (click)="refreshgetJiggMfgChart()">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="chart">
                            <div>
                                <canvas id="Canvasjigg" style="height: 230px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
          </div>

          <div class="row">
              <div class="col-sm-12">
                <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-bar-chart-o"></i>&nbsp;Jigg Manufacturing Repair Vs Rectify</h3>
                    <div style="float: right; margin-right: 90px;">
                        <label Style="margin-right: 4px;font-weight: bold;">Repair : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #3c8dbc; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{TotalJiggRepair | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;">Rectify : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #f39c12; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{TotalJiggRectify | number : '1.2-2'}}</label>
                    </div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" (click)="refreshgetJiggMfgRRChart()">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="chart">
                            <div>
                                <canvas id="cvsrvsr" style="height: 230px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
          </div>

          <div class="row">
              <div class="col-sm-12">
                <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-bar-chart-o"></i>&nbsp;Monthly Rounds Jigg VS Chrome</h3>
                    <div style="float: right; margin-right: 90px;">
                        <label Style="margin-right: 4px;font-weight: bold;">Total Jigg Round: </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #00a65a; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{TotalJiggRound | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;">Total Chrome Round: </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #3c8dbc; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{TotalChromeRound | number : '1.2-2'}}</label>
                    </div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" (click)="refreshgetMonthlyRoundJiggVsChrome()">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="chart">
                            <div>
                                <canvas id="cvsRJigg" style="height: 230px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
          </div>

          <div class="row">
              <div class="col-sm-12">
                <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-bar-chart-o"></i>&nbsp;Monthly Rounds Jigg VS Satin</h3>
                    <div style="float: right; margin-right: 90px;">
                        <label Style="margin-right: 4px;font-weight: bold;">Total Jigg Round: </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #00a65a; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{TotalJiggRound | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;">Total Satin Round: </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #f39c12; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{TotalSatinRound | number : '1.2-2'}}</label>
                    </div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" (click)="refreshgetMonthlyRoundJiggVsSatin()">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="chart">
                            <div>
                                <canvas id="cvsRJigg2" style="height: 230px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
          </div>

          <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-bar-chart-o"></i>&nbsp;Top 20 Jigg Used</h3>
                    <div style="float: right; margin-right: 90px;">
                    </div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" (click)="refreshgetTop20Jigg()">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="chart">
                            <div>
                                <canvas id="cvsjigguse" style="height: 230px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
          </div>
      </section>
      <!-- /.content -->
    </div>

<div [ngBusy]="busy"></div>