<div class="content-wrapper">
    <div class="container-main">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Satin Rejction Review
          <!--<small>in Insp.</small>-->
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="box box-default color-palette-box">
            <div class="box-body">
                <form method="post">
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Date</span>
                                    <!--<i class="fa fa-calendar"></i>-->
                                </div>
                                <input type="text" name="Date" class="form-control pull-right" id="Date" [(ngModel)]="Date">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group" >
                                <!--<label for="lblnatureofpltng">Line Type</label>-->
                                <div class="input-group-addon">
                                    <span class="input-group">Line Type</span>
                                </div>
                                <select id="ItemType"  class="form-control select2"  style="width: 100%;" name="ItemType">
                                    <!--<option selected="selected" value="NULL">Select</option>-->
                                    <option value="Chrome">Chrome</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-3">
                            <button  style="margin-left: 140px;" type="button" class="btn btn-primary" (click)="Search()">Search</button>
                        </div>
                        <div class="col-sm-10 col-md-3" style="margin-bottom: 20px">
                            <div class="input-group" >
                                <!--<label for="lblaliasname">Alias Name</label>-->
                                <div class="input-group-addon">
                                    <span class="input-group">Part Name</span>
                                </div>
                                <select id="Alias_Names"  class="form-control select2" multiple="multiple" data-placeholder="Select" style="width: 100%;">
                                    <option *ngFor="let Alias of Alias_Names" [value]="Alias.Code">{{Alias.Alias_Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="form-group">
                                <label for="lblhldqty" class="col-sm-5 control-label">Hold Qty</label>
                                <div class="col-md-3" >
                                    <label class="col-sm-4" style="color: green;">None</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="form-group">
                                <label for="lblbfrqty" class="col-sm-5 control-label">Buffer Qty</label>
                                <div class="col-md-3" >
                                    <label class="col-sm-4" style="color: green;">None</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="form-group">
                                <label for="lblrejqty" class="col-sm-5 control-label">Rejected Qty</label>
                                <div class="col-md-3" >
                                    <label class="col-sm-4" style="color: red;">None</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3" style="margin-bottom: 20px">
                            <div class="input-group" >
                                <!--<label for="lblnatureofcomp">Type</label>-->
                                <span class="input-group-addon">Type</span>
                                <select id="natureofcomp" class="form-control select2"  style="width: 100%;" name="natureofcomp">
                                    <option selected="selected" value="NULL">--Select--</option>
                                    <option value="Hold">Hold</option>
                                    <option value="Rejction Review">Rejction Review</option>
                                    <option value="Buffing">Buffing</option>
                                    <option value="Customer Return Review">Customer Return Review</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <div class="box box-default color-palette-box">
            <div class="box-body">
                <form method="post">
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Hold Qty</span>
                                </div>
                                <input type="text" name="hldqty" class="form-control pull-right" id="hldqty" [(ngModel)]="hldqty">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Buffer Qty</span>
                                </div>
                                <input type="text" name="bfrqty" class="form-control pull-right" id="bfrqty" [(ngModel)]="bfrqty">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Rejected Qty</span>
                                </div>
                                <input type="text" name="rejqty" class="form-control pull-right" id="rejqty" [(ngModel)]="rejqty">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">OK Qty</span>
                                </div>
                                <input type="text" name="okqty" class="form-control pull-right" id="okqty" [(ngModel)]="okqty">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-6"style="margin-bottom: 20px">
                            <label for="lblhldqty" class="col-sm-12 control-label text-center">Plating Deffects</label>
                        </div>
                        <div class="col-sm-10 col-md-6"style="margin-bottom: 20px">
                            <label for="lblhldqty" class="col-sm-12 control-label text-center">Moulding Deffects</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Pin Hole</span>
                                </div>
                                <input type="text" name="pinhole" class="form-control pull-right" id="pinhole" [(ngModel)]="pinhole">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Skip Plating</span>
                                </div>
                                <input type="text" name="skpltng" class="form-control pull-right" id="skpltng" [(ngModel)]="skpltng">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Process Mould Rej</span>
                                </div>
                                <input type="text" name="prcsmourej" class="form-control pull-right" id="prcsmourej" [(ngModel)]="prcsmourej">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Hand. Moulding Rejection</span>
                                </div>
                                <input type="text" name="hndmngrej" class="form-control pull-right" id="hndmngrej" [(ngModel)]="hndmngrej">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">White Mark</span>
                                </div>
                                <input type="text" name="whtmrk" class="form-control pull-right" id="whtmrk" [(ngModel)]="whtmrk">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Pin Marks</span>
                                </div>
                                <input type="text" name="pinmrks" class="form-control pull-right" id="pinmrks" [(ngModel)]="pinmrks">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">War Page</span>
                                </div>
                                <input type="text" name="warpg" class="form-control pull-right" id="warpg" [(ngModel)]="warpg">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Silver Mark</span>
                                </div>
                                <input type="text" name="slvrmrk" class="form-control pull-right" id="slvrmrk" [(ngModel)]="slvrmrk">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Dot Plastic</span>
                                </div>
                                <input type="text" name="dotplstc" class="form-control pull-right" id="dotplstc" [(ngModel)]="dotplstc">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Chrom Burning</span>
                                </div>
                                <input type="text" name="chrmbrng" class="form-control pull-right" id="chrmbrng" [(ngModel)]="chrmbrng">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Dent Marks</span>
                                </div>
                                <input type="text" name="dntmrks" class="form-control pull-right" id="dntmrks" [(ngModel)]="dntmrks">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Scratches</span>
                                </div>
                                <input type="text" name="scrtchs" class="form-control pull-right" id="scrtchs" [(ngModel)]="scrtchs">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Copper Bruning</span>
                                </div>
                                <input type="text" name="cprbrng" class="form-control pull-right" id="cprbrng" [(ngModel)]="cprbrng">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Jig Damage</span>
                                </div>
                                <input type="text" name="jigdmg" class="form-control pull-right" id="jigdmg" [(ngModel)]="jigdmg">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">High Gloss</span>
                                </div>
                                <input type="text" name="hghgls" class="form-control pull-right" id="hghgls" [(ngModel)]="hghgls">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Low Gloss</span>
                                </div>
                                <input type="text" name="lowgls" class="form-control pull-right" id="lowgls" [(ngModel)]="lowgls">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Shade Variation</span>
                                </div>
                                <input type="text" name="shdvrtn" class="form-control pull-right" id="shdvrtn" [(ngModel)]="shdvrtn">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Patch Mark</span>
                                </div>
                                <input type="text" name="ptchmrk" class="form-control pull-right" id="ptchmrk" [(ngModel)]="ptchmrk">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <button  style="margin-left: 140px;" type="button" class="btn btn-primary pull-right" (click)="Search()">Save</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Nickel</span>
                                </div>
                                <input type="text" name="nickl" class="form-control pull-right" id="nickl" [(ngModel)]="nickl">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Roughness</span>
                                </div>
                                <input type="text" name="rghns" class="form-control pull-right" id="rghns" [(ngModel)]="rghns">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Blister</span>
                                </div>
                                <input type="text" name="blstr" class="form-control pull-right" id="blstr" [(ngModel)]="blstr">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Black Spot</span>
                                </div>
                                <input type="text" name="blckspot" class="form-control pull-right" id="blckspot" [(ngModel)]="blckspot">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Satin Mark</span>
                                </div>
                                <input type="text" name="satnmrk" class="form-control pull-right" id="satnmrk" [(ngModel)]="satnmrk">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Chemical Mark</span>
                                </div>
                                <input type="text" name="chmclmrk" class="form-control pull-right" id="chmclmrk" [(ngModel)]="chmclmrk">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Touch burnind</span>
                                </div>
                                <input type="text" name="tchbrng" class="form-control pull-right" id="tchbrng" [(ngModel)]="tchbrng">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Other</span>
                                </div>
                                <input type="text" name="othr" class="form-control pull-right" id="othr" [(ngModel)]="othr">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Water Mark</span>
                                </div>
                                <input type="text" name="wtrmrk" class="form-control pull-right" id="wtrmrk" [(ngModel)]="wtrmrk">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-3"style="margin-bottom: 20px">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="input-group">Remark</span>
                                </div>
                                <input type="text" name="rmrk" class="form-control pull-right" id="rmrk" [(ngModel)]="rmrk">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.container -->
  </div>

  <div [ngBusy]="busy"></div>