    <div class="container-main">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Chrome
          <small>Line</small>
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-bar-chart-o"></i>&nbsp;Monthly Inspection for Chrome</h3>
            <div style="float: right; margin-right: 30px;">
            <!--textboxes             -->
            </div>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="chart">
                    <div>
                        <canvas id="cvsChromeInspection" style="height: 230px"></canvas>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </section>
      <!-- /.content -->
    </div>

<div [ngBusy]="busy"></div>