    <div class="container-main">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Chrome
          <small>Line</small>
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">
          <div class="row">
              <div class="col-sm-12">
                <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-bar-chart-o"></i>&nbsp;Monthly Inspection for Chrome</h3>
                    <div style="float: right; margin-right: 30px;">
                        <label Style="margin-right: 4px;font-weight: bold;">Total Inspection : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #3c8dbc; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{TotalInspectionChrome | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;">Ok Value : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #00a65a; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{OkValueChrome | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;">Hold Value : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #f39c12; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{HoldValueChrome | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;">Rejection Value : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #d2d6de; margin-right: 5px; color: black;text-align: center;font-weight: bolder;">{{RejectionValueChrome | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;">Rejection Value(%) : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #f56954; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{RejectionValuePerChrome | number : '1.2-2'}} %</label>
                    </div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="chart">
                            <div>
                                <canvas id="cvsChromeInspection" style="height: 230px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
          </div>

          <div class="row">
              <div class="col-sm-12">
                <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-bar-chart-o"></i>&nbsp;Monthly Rounds for Chrome</h3>
                    <div style="float: right; margin-right: 30px;">
                        <label Style="margin-right: 4px;font-weight: bold;">Insp. Pending Rounds : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #3c8dbc; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{InspPendingRoundChrome | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;"> Produced Rounds : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #00a65a; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{ProducedRoundChrome | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;">Empty Rounds : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #f39c12; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{EmptyRoundChrome | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;">Aggregate Rounds : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #d2d6de; margin-right: 5px; color: black;text-align: center;font-weight: bolder;">{{AggregateRoundChrome | number : '1.2-2'}}</label>
                    </div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="chart">
                            <div>
                                <canvas id="cvsChromeMonthly" style="height: 230px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
          </div>
      </section>

      <section class="content-header">
        <h1>
          Satin
          <small>Line</small>
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">
          <div class="row">
              <div class="col-sm-12">
                <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-bar-chart-o"></i>&nbsp;Monthly Inspection for Chrome</h3>
                    <div style="float: right; margin-right: 30px;">
                        <label Style="margin-right: 4px;font-weight: bold;">Total Inspection : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #3c8dbc; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{TotalInspectionSatin | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;">Ok Value : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #00a65a; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{OkValueSatin | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;">Hold Value : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #f39c12; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{HoldValueSatin | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;">Rejection Value : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #d2d6de; margin-right: 5px; color: black;text-align: center;font-weight: bolder;">{{RejectionValueSatin | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;">Rejection Value(%) : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #f56954; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{RejectionValuePerSatin | number : '1.2-2'}} %</label>
                    </div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="chart">
                            <div>
                                <canvas id="cvsSatinInspection" style="height: 230px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
          </div>

          <div class="row">
              <div class="col-sm-12">
                <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-bar-chart-o"></i>&nbsp;Monthly Rounds for Chrome</h3>
                    <div style="float: right; margin-right: 30px;">
                        <label Style="margin-right: 4px;font-weight: bold;">Insp. Pending Rounds : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #3c8dbc; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{InspPendingRoundSatin | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;"> Produced Rounds : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #00a65a; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{ProducedRoundSatin | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;">Empty Rounds : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #f39c12; margin-right: 5px; color: white;text-align: center;font-weight: bolder;">{{EmptyRoundSatin | number : '1.2-2'}}</label>
                        <label Style="margin-right: 4px;font-weight: bold;">Aggregate Rounds : </label><label Style="padding-left: 5px;padding-right: 5px;background-color: #d2d6de; margin-right: 5px; color: black;text-align: center;font-weight: bolder;">{{AggregateRoundSatin | number : '1.2-2'}}</label>
                    </div>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="chart">
                            <div>
                                <canvas id="cvsMonthlySatin" style="height: 230px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
          </div>
      </section>
      <!-- /.content -->
    </div>

<div [ngBusy]="busy"></div>